.cell {
  width: 5em;
  height: 5em;
  background-color: rgb(232, 232, 232);
  border: 1px solid rgb(190, 190, 190);
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell__num {
  opacity: 0;
  font-size: 20px;
}

.cell__num_visibility {
  opacity: 1;
}
